
	/*  myStyles   */
	
	*{
		margin: 0;
		padding: 0;
	}
  	
  	body{
  		color: #999;
  		font-family: "Roboto", helvetica, arial !important;
  	}
  	
  	.wrapper{
  		padding-top: 100px;
  		min-height: 580px;
  	}
  	
  	.navbar-header{
  		padding-top: 15px;
  		width: 100%;
  		position: fixed;
  		z-index: 1;
  		/* background: rgba(255,255,255,0.6); */
  		background-color: #fff;
  		/*box-shadow: 0px 3px 5px 2px #f5f5f5; */
  	}
  	
  	.home-search{
  		padding-top: 15px;
  	}
  	
  	.pull-right{
  		padding-top: 15px;
  	}
  	
  	.container-fluid{
  		clear: both;
  	}
  	
  	#homeMenu a{
  		display: block;
  		padding-bottom: 7%;
  		font-size: 15px;
  	}
  	
  	.right-col-boxes{
  		border: 1px solid #ddd;
  		/* padding: 0px 5px; */
  		float: left;
  		width: 100%;
  		margin-bottom: 10px;
  	}
  	
  	.title, a{
  		color: #639BF1;
  	}
  	
  	.title:hover, a:hover{
  		color: #3B5998;
  	}
  	
  	.title:hover{
  		text-decoration: underline;
  		cursor: pointer;
  	}
  	
  	.titleContent{
  		color: #999;
  		font-size: 12px;
  		padding-left: 18px;
  	}
  	
  	#globalFooter{
  	  width: 100%;
  	  padding: 20px 0px;
  	  background-color: #eee;
	  border-top: 1px solid #ddd;
	  margin-top: 10px;
	  box-shadow: inset 0px 0px 10px 1px #ccc;
  	}
  	
  	#footer1{
  		padding: 20px 0px;
  	}
  	
  	#footer2{
  	
  	}
  	
  	.homeNews{
  		width: 100%;
  		border: 1px solid #ddd;
  		min-height: 300px;;
  		/* margin-top: 10px; */
  		margin-bottom: 10px;
  		float: left;
  	}
  	
  	.mySliderImages img{
		max-width: 100%;
		max-height: 100%;
		display: block;
		margin: 0 auto;
  	}
  	.homeNewsBox, .bridesBox{
  		float: left;
  		width: 100%;
  		padding: 10px;
  		border-bottom: 1px solid #ddd;
  	}
  	
  	.bridesBox{
  		padding: 0 !important;
  		margin-bottom: 10px;
  	}
  	
  	.homeNewsBox:last-child, .bridesBox:last-child{
  		border-bottom: 0;
  	}
  	
  	.homeNewsBoxPic{
  		float: left;
  		margin-right: 10px;
  	}
  	
  	.homeNewsBoxPic img{
  		width: 82px;
  		height: 82px;
  	}
  	
  	.bridesBoxPic{
  		float: left;
  		padding: 0px 5px;
  	}
  	
  	.bridesBoxPic img{
  		width: 60px;
  		height: 60px;
  	}
  	
  	.movieUpdates{
  		float: left;
  		padding: 0 10px;
  		margin-bottom: 10px;
  	}
  	
  	.mpContent{
  		padding: 5px 10px;
  		clear: both;
  	}
  	
  	.mpContentConstants{
  		min-width: 50px;
  		float: left;
  	}
  	
  	.btn-rgt{
  		float : right;
  	}
  	.head4{
  	  font-size: 16px;
	  margin-top: 0px !important;
	  border-bottom: 1px solid #ddd;
	  padding-bottom: 8px;
	  padding-top: 8px;
	  color: #999;
	  text-align: center;
	  background-color: #f5f5f5;     /*#639BF1; /* past #8ACFFB */ /* #29cea1 awesome */
	  /* border-top: 6px solid #3B5998; /* past #2a9ae0 */
	  /* border-radius: 20px; */
	  transition: all 1s ease;
	  text-transform: capitalize;
	}
	
	
	/* .head4:hover{
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
		  transition: all 1s ease;
	} */
	
	#userImage{
		padding-bottom: 20px;
	}
	
	#userImage img{
		width: 125px;
		height: 125px;
	}
	
	.align-right{
		text-align: right;
	}
	
	.align-center{
		text-align: center;
	}
	
	.userContentBox{
	  width: 88%;
	  padding: 20px;
	  margin: 0 auto;
	}
	
	.userContentBox label{
		font-weight: normal;
	}
	
	.btm-margin{
		margin-bottom: 20px;
	}
	
	.capitalize{
		text-transform: capitalize;
	}
	
	.uppercase{
		text-transform: uppercase;
	}
	
	.custom-radio{
		margin-right: 5px !important;
  		margin-left: 20px !important;
	}	
	
	.open> #dropdown-menu1{
		left: -208px !important;
  		min-width: 300px;
	}
	
	.open> #dropdown-menu2{
		left: -205px !important;
  		min-width: 315px;
	}	
	
	.myTable>tbody>tr>td, 
	.myTable>tbody>tr>th, 
	.myTable>tfoot>tr>td, 
	.myTable>tfoot>tr>th, 
	.myTable>thead>tr>td, 
	.myTable>thead>tr>th{
		border-top: 0 !important;	
	}
	
	#myTab{
		  padding: 20px 10px 0px 10px;
	}
	
	#myTabContent{
		float: left;
	  	width: 100%;
		margin-top: 20px;
	}
	
	.bold{
		font-weight: bold;
	}
	
	#log-out{
		margin-left: 15px;
	}
	
	.pagination > li> .current{
		background: #337ab7 !important;
		color: #fff !important;
	}	
	
	
	.error-message{
		color: red;
	}
	
	.photoCheckBox {
        display: inline-block;
    }
    
    .photoCheckBox label img{
         margin: 20px 50px;
         display: inline-block;
    }
    
 
    .custom-checkbox{
        margin: 0px 5px 0px 20px;
    }
    
    .checkbox{
        position: relative !important;
        margin-left: 20px !important;
    }
    
    .para{
    	padding: 10px;
    }
    
    .styledFile{
   		border: 2px solid #ddd;
		border-radius: 4px;
		padding: 5px;
		color: #999;
		margin-bottom: 10px !important;
    }
    
    
  /** Notices and Errors **/

.notice {
	color: #ffcc00;	
	margin-bottom: 18px;
	padding: 7px 14px;	
}


.message,
.cake-error,
p.error,
.error-message {
	
	color: #c43c35;
	
}

.success {
	color: #3B8230;
}

/* ########################### */

.userDataEmpty{
	text-align: center;
	margin: 20px;
}


    
    